*.sage-backup
*.synctex.gz
.bashrc                                                                                                                                                                                  
.bup/                                                                                                                                                                                    
.cache/                                                                                                                                                                                  
.forever/                                                                                                                                                                                
.gitconfig                                                                                                                                                                               
.sage/                                                                                                                                                                                   
.sagemathcloud/                                                                                                                                                                          
.ssh/                                                                                                                                                                                    
*.term  
*~
\.*
