# Ignore common LaTeX extensions
*.pdf
*.aux
*-blx.bib
*.toc
*.fls
*.run.xml
*.blg
*.backup
*.bbl
*.fdb_latexmk
*.nav
*.snm
*.idx
*.ilg
*.ind
*.out
*.log
*.synctex.gz
*.sagetex.sage
*.sagetex.sage.py
